.title{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    color:black;

}
.price{
    font-size:20px;
    font-weight:bold;
    color:blue;
}
.green{
    font-size:25px;
    font-weight:bold;
    color:green;
}
.red{
    font-size:25px;
    font-weight:bold;
    color:red;
}
.container{
    width: 200px;
    border: 1px solid gray ;
    border-radius: 10px;
    margin-top:20%;
    padding:1%;
}